*{
    box-sizing:border-box;
}

#mainContainer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    height: 1050px;
    align-items: center;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
    background-image: url('val/fracture.jpg');
}

#container1 >img, #container2 > img {
    width: 8%;
    margin: 0 2.5px 0 2.5px;
}

#container1, #container2 {
    display: flex;
    position: relative;
    margin: 2.5px;
    width: 55%;
    justify-content: center;
    bottom: 20px;
}

img:hover {
    opacity: .4;
  }


